a.link (
  margin-left: 40px;
}
BODY.F1 {
 background:  url(../Fon/Backgr.html);
 
}
BODY.F2 {
	background: url(../Fon/5.html);
}
BODY.F3 {
	background: url(../Fon/4.html);
}
BODY.F4 {
	background: url(../Fon/Lv16.html); background-repeat: repeat-x;
}
BODY.F5 {
	background: url(../Fon/Lv16.html); background-repeat: repeat;
}
BODY.F6 {
	background: url(../Fon/Lv16.html); background-repeat: repeat;
	background-attachment: fixed;
}
BODY.F7 {
	background: url(../Fon/Lv16.html);  background-repeat: repeat-y;
	background-attachment: fixed; background-position: right; 
}
SPAN.Bl1 {
 color: Red; font-family: cursive;  font-size: 25px; position: absolute; filter: Blur(direction=135)
}

SPAN.Bl2 {
 color: royalblue;  font-family: cursive;  font-size: 25px; position: absolute; filter: Blur(direction=35)
 }
 
SPAN.Bl3 {
 color: green;  font-family: cursive;  font-size: 25px; position: absolute; filter: Blur(direction=35)
 }
SPAN.Bl4 {
 color: Red;  font-family: cursive;  font-size: 15px; position: absolute; filter: Glow(Color=#9acd32,Strength=2)
 }

SPAN.S {
	font-family: cursive; font-size: 14px; color: Navy;  font-weight: bold;
}
SPAN.Zag
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #990099;
    FONT-FAMILY: cursive;
    position: absolute;
    padding-left:80;
}

SPAN.Zag1
{
    font-size: 18px;
    filter: Shadow(Color=#ccccbb, Direction=135);
    color: #000080;
    font-family: cursive;
    position: absolute;
}
SPAN.Zag2
{
    font-size: 16px;
    filter: Shadow(Color=#ccccbb, Direction=125);
    color: #000080;
    font-family: Tahoma;
    position: absolute;
    font-weight: bolder;
    padding-left:80;
}
SPAN.Zag3
{
    font-size: 12px;
    filter: Shadow(Color= #4682b4, Direction=140);
    color: #000080;
    font-family: 'Comic Sans MS';
    position: absolute;
    font-style: normal;
    font-weight: bold;
}
SPAN.Sr
{
    font-weight: bold;
    font-size: 13px;
    filter: Shadow(color=#66cdaa ,direction=120);
    color: #800000;
    position: absolute;
    font-style: normal;
    font-family: 'Courier New' , Courier, monospace;
}
SPAN.COMMENT {
	COLOR: #008800
}
SPAN.STRING {
	COLOR: #007777
}
SPAN.CHARACTER {
	COLOR: black
}
SPAN.KEYWORD {
	COLOR: blue
}
SPAN.PREPROCESSOR {
	COLOR: blue
}
SPAN.NUMBER {
	COLOR: black
}
SPAN.ACCENT {
	COLOR: red
}

SPAN.Sr
{
    font-weight: bold;
    font-size: 13px;
    filter: Shadow(color=#66cdaa ,direction=120);
    color: #800000;
    position: absolute;
    font-style: normal;
    font-family: 'Courier New' , Courier, monospace;
}

SPAN.V {
   	font-size: 13px; 
   	filter: Shadow(color=#66cdaa ,direction=120);  
   	position: absolute; 
   	color: Blue; 
   	font-weight: bold;
}

SPAN.Ov
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    FILTER: Shadow(color=Blue,direction=130);
    COLOR: red;
    POSITION: absolute
}

SPAN.Met {
	background-color: #FFFF33; font-size: 13px; color: Red;  font-family: cursive; ;
}

SPAN.Per {
	 font-family: cursive; font-size: 16px; color: #DC143C; background-color: #66FFCC;
}
SPAN.Title {
	background: #FFFFCC;  font-family: cursive; font-size: 18px; color: Green;
}

SPAN.Naz {
 font-family: cursive; font-size: 11px; color: Blue;
}

P {
	color: Green; font-family: cursive; font-size: 14px;
}

P.Zag {
	font-size: 18px; font-family: cursive;  color: Olive; background-color: #CCFFCC;
}

P.Sint {
	color: Blue; font-size: 12px; font-family: cursive;
}

P.Ind {
	color: Purple;  position: absolute; font-size: 16px;  filter: Wave(Add=1, Freq=2, LightStrength=90, Phase=100, Strength=2 )  
}

P.Z {
	color: Green; font-family: cursive; font-size: 13px;  
}
P.Kod {
	background-color:  #CCCCFF;   font-family: cursive; font-size: 12px; color: Red; border-bottom: #003399; border-bottom-width: 1px; border-bottom-style: solid;
}

P.Tema {
		background-color: #CCFF66; font-family: cursive; font-size: 14px;  font-weight: bold; color: #FF00CC;
}

P.ZagT
{
    FONT-SIZE: 14px;
    BORDER-BOTTOM-COLOR: blue;
    COLOR: red;
    FONT-FAMILY: cursive;
    BACKGROUND-COLOR: #ccff99;
    BORDER-BOTTOM-STYLE: double
}

UL {
color: Green; font-family: cursive; font-size: 11px;

}
ol.L {
     
    FONT-WEIGHT: 100; 
    FONT-SIZE: 10px; 
    COLOR: #000080; 
    FONT-FAMILY: 'Comic Sans MS'
}


LI.Ovk {
	color: Purple; font-family: cursive; font-size: 14px;  font-style: italic;  
}


LI.ov {
	font-size: 13px; color: Maroon; 
}

DIV.prim
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: navy;
    FONT-FAMILY: cursive;
    BACKGROUND-COLOR: #ccffff
}
DIV.Opred
{
    BORDER-RIGHT: red 3px double;
    BORDER-TOP: red 3px double;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BACKGROUND: #fffff0;
    BORDER-LEFT: red 3px double;
    COLOR: #8a2be2;
    BORDER-BOTTOM: red 3px double;
    FONT-FAMILY: cursive;
    px: 
}

DIV.Img {  
     position : absolute; 
     filter: revealtrans(transition=6); 
     visibility: hidden;

}
b.exampleTitle {
     border: 1px solid black;
     border-bottom: none;
     padding: 2px 6px;
     display: inline;
     background: #6495ED;
     font-weight: bold;
     font-size: 8pt;
     color: white;
     margin: 0 0 0 0px;
     white-space: nowrap;
     background-image: url('../Fon/new-1.html');
}


Div.example {
    border:double 3px #634F36;
    background: #F5F5F5;
    font-family: "Courier New", Courier, monospace;
    font-size: 8pt;padding: 7px;margin: 0 0 1em;text-align: left;
}

TABLE.CODE
{
    border: thin double #000080;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0px;
    padding-top: 10px;
    font-family: "courier new";
    background-color: #C0C0C0;
    color: #FF0000;
    font-style: oblique;
    font-weight: bold;
}
TABLE.note {
	PADDING-RIGHT: 0.8em; 
	PADDING-LEFT: 0.8em; 
	PADDING-BOTTOM: 0.8em; 
	COLOR: #506580; 
	PADDING-TOP: 0.8em; 
	FONT-FAMILY: verdana,tahoma; 
	BACKGROUND-COLOR: #f5f9ff; 
	TEXT-ALIGN: justify
}

TABLE.TabSv {
	background-color: #FFFFCC; 
	font-family: cursive; 
	font-size: 11px; 
	color: Red; 
	border-color: Blue; 
	border-width: 2px;
}
TABLE.Sv {
	background-color: #ffe4c4; 
	color: Blue; 
	font-family: cursive;  
	font-size: 11px; 
}

td.zag
{
    font-family: Verdana;
    font-size: 14px;
    color: #008000;
    font-style: italic;
}
td.text
{
    font-family: Verdana;
    font-size: 10px;
    color: #000080;
    background-color: #FFFFCC;
    border: thin double #000080;
}
td.og
{
 font-family: 'Comic Sans MS';
 font-size: 10px;
 color: #000080;
}
PRE.Sint {
    font-size: 12px;
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	PADDING-BOTTOM: 10px; 
	MARGIN: 0px; 
	PADDING-TOP: 10px; 
	FONT-FAMILY: "courier new"
}
span.tema {
	font-family: Verdana;
	font-size: x-small;
	font-weight: bolder;
	font-style: oblique;
	font-variant: normal;
	color: #000080;
	text-decoration: underline;
	position: absolute;
}
span.razdel {
	font-family: Verdana;
	font-size: x-small;
	font-weight: bolder;
	font-style: inherit;
	font-variant: normal;
	color: #008080;
	text-decoration: underline;
	position: absolute;
}
